.App {
  /* text-align: center; */
  padding-left: 30px;
  padding-right: 30px;
}

.Loading{
  text-align: center;
}

.Error{
  color: var(--vscode-errorForeground);
}

.App-header {
  color: var(--vscode-editor-foreground);
  background-color: var(--vscode-editor-background);
}

.LoadingSVG{
  height: 80px;
}

.searchBox{
  width: 100%;
  margin-bottom: 10px;
  height: 1.5em;
  background: var(--vscode-input-background);
  color: var(--vscode-input-foreground);
  font-size: 1.5em;
  border: solid var(--vscode-input-border);
}


.bigSeperator{
  color: var(--vscode-contrastBorder);
}
