.App {
  /* text-align: center; */
  padding-left: 30px;
}

.Loading{
  text-align: center;
}

.Error{
  color: #ff1764;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  color: var(--vscode-editor-foreground);
  background-color: var(--vscode-editor-background);
}

.LoadingSVG{
  height: 80px;
}

