.vscode/**
.vscode-test/**
.gitignore
.github
src
res/image.xcf
.DS_Store
node_modules

server/**
!server/out
!server/dist
!server/dbc.*
!server/package.json
!server/package-lock.json

client/**
!client/dist
!client/build
!client/package.json
!client/package-lock.json
