.MessageID{
    margin-top: 10px;
    margin-bottom: 0;
}

.arrow-right {
    width: 5px; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid var(--vscode-dropdown-foreground);
    display: inline-block;
}

.signalNum{
    display: inline;
}

.expandSignal {
    cursor: pointer;
    user-select: none;
}

.signalDetails{
    margin-left: 10px;
    border-left: solid var(--vscode-dropdown-border) 2px; 
    padding-left: 5px;
}
